---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---

<section id="services">
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Espacios Disponibles
            </Title>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group flex items-center bg-gradient-to-r wite transition duration-500 hover:from-blue-500 hover:to-red-500">
                <a href="#auditorio">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 h-auto sm:h-auto w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">AUDITORIO</h2>
                </a>
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group flex items-center ">
                <a href="#services">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 h-auto sm:h-auto w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">LOBBY CERAMICA</h2>
                </a>
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group flex items-center ">
                <a href="#services">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 h-auto sm:h-auto w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">LOBBY ALFOMBRADO</h2>
                </a>
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group flex items-center ">
                <a href="#services">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 h-auto sm:h-auto w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">LOBBY PRINCIPAL</h2>
                </a>
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group flex items-center ">
                <a href="#services">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 h-auto sm:h-auto w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">AULA DEE</h2>
                </a>
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group flex items-center ">
                <a href="#services">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 h-auto sm:h-auto w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">AULA 101</h2>
                </a>
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group flex items-center ">
                <a href="#services">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 h-auto sm:h-auto w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">PASILLO ACTIVACION</h2>
                </a>
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group flex items-center ">
                <a href="#services">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 h-auto sm:h-auto w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">TERRAZA INTERNA</h2>
                </a>
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group flex items-center ">
                <a href="#services">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 h-auto sm:h-auto w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">GAME ROOM</h2>
                </a>
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group flex items-center ">
                <a href="#services">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 h-auto sm:h-auto w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">CREATIVE ROOM</h2>
                </a>
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group flex items-center ">
                <a href="#services">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 h-auto sm:h-auto w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">AREA PINTURA</h2>
                </a>
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group flex items-center ">
                <a href="#services">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 h-auto sm:h-auto w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">PLAZA</h2>
                </a>
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group flex items-center ">
                <a href="#services">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 h-auto sm:h-auto w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">PASILLO EDIFICIO 3 RECZEN</h2>
                </a>
            </div>
        </div>
    </Container>
</section>